'use client';
type Props = {

};

// eslint-disable-next-line no-empty-pattern
export const {{pascalCase name}} = ({}: Props): JSX.Element => {
return <div>{{pascalCase name}}</div> // cspell-disable-line
};
